public/index.html
<!DOCTYPE html><html lang="en"><head><link rel="manifest" href="/assets/manifest.json"><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta content="width=device-width, initial-scale=1" name="viewport"><title>HN :: mithril</title><meta name="theme-color" content="#000000"><link rel="shortcut icon" href="/assets/favicon.ico"><link rel="preload" as="style" href="/assets/main.css"><link rel="stylesheet" href="/assets/main.css"><link rel="preload" as="script" href="/assets/mithril.js"><link rel="preload" as="script" href="/assets/main.js"></head><body><header class="navigation" role="banner"><nav><ul class="main"><li><a class="type-top" href="/top/1">Top</a></li><li><a class="type-new" href="/new/1">New</a></li><li><a class="type-ask" href="/ask/1">Ask</a></li><li><a class="type-sho" href="/sho/1">Show</a></li><li><a class="type-job" href="/job/1">Jobs</a></li></ul></nav></header><div id="container"></div><script src="/assets/mithril.js"></script><script src="/assets/main.js"></script></body></html>

source/index.pug
- var css = '/assets/main.css'
- var js = '/assets/main.js'
//- var jsExt = 'https://unpkg.com/mithril@1.1.1/mithril.min.js'
- var jsExt = '/assets/mithril.js'
doctype html
html(lang='en')
  head
    link(rel='manifest', href='/assets/manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title HN :: mithril
    meta(name='theme-color', content='#000000')
    link(rel='shortcut icon' href='/assets/favicon.ico')
    link(rel='preload', as='style' href=css)
    link(rel='stylesheet' href=css)
    link(rel='preload', as='script' href=jsExt)
    link(rel='preload', as='script' href=js)
  body
    header.navigation(role='banner')
      nav
        ul.main
          li
            a.type-top(class={selected: active == 'news'}, href='/top/1') Top
          li
            a.type-new(class={selected: active == 'newest'}, href='/new/1') New
          li
            a.type-ask(class={selected: active == 'ask'}, href='/ask/1') Ask
          li
            a.type-sho(class={selected: active == 'show'}, href='/sho/1') Show
          li
            a.type-job(class={selected: active == 'jobs'}, href='/job/1') Jobs
    #container
      block container
    script(src=jsExt)
    script(src=js)
